$white-color: #f9f9fa;
$light-grey-color : #858b92;

$type-default : "#FFF";
$type-normal : #C2C2A1;
$type-flying : #BAB0D5;
$type-ghost : #735797;
$type-dark : #333;
$type-steel : #CCCCDE;
$type-ground : #B1736C;
$type-poison : #7C538C;
$type-grass : #48D0B0;
$type-fire : #FB6C6C;
$type-electric : #FFD86F;
$type-fairy : #f469a9;
$type-bug : #C3CE75;
$type-fighting : #d6b591;
$type-water : #609FB5;
$type-psychic : #9B7FA6;
$type-ice : #7FCCEC;
$type-rock : #a6aab6;
$type-dragon : #F9BE00;
$type-unknown : #9B7FA6;
$type-shadow : #9B7FA6;

$breakpoints: (
    sm : 375px,
    md : 768px,
    lg : 1024px
);

@mixin media-up($breakpoint){
    @if map-has-key($breakpoints , $breakpoint){
        @media screen and ( min-width: map-get($breakpoints, $breakpoint)){
            @content;
        }
    } @else{
        @warn "El valor '#{ $breakpoint}' no ha sido declarado como breakpoint";
    }
}

.default{
	background-color: $type-default;
	}
.normal{
	background-color: $type-normal;
	}
.flying{
	background-color: $type-flying;
	}
.ghost{
	background-color: $type-ghost;
	}
.dark{
	background-color: $type-dark;
	}
.steel{
	background-color: $type-steel;
	}
.ground{
	background-color: $type-ground;
	}
.poison{
	background-color: $type-poison;
	}
.grass{
	background-color: $type-grass;
	}
.fire{
	background-color: $type-fire;
	}
.electric{
	background-color: $type-electric;
	}
.fairy{
	background-color: $type-fairy;
	}
.bug{
	background-color: $type-bug;
	}
.fighting{
	background-color: $type-fighting;
	}
.water{
	background-color: $type-water;
	}
.psychic{
	background-color: $type-psychic;
	}
.ice{
	background-color: $type-ice;
	}
.rock{
	background-color: $type-rock;
	}
.dragon{
	background-color: $type-dragon;
	}
.unknown{
	background-color: $type-unknown;
	}
.shadow{
	background-color: $type-shadow;
	}