@import "./Common.scss";

.specific-card{
    color: $white-color;
    &-return-button{
        display: block;
        height: 60px;
        padding-left: 25px;
        text-decoration: none;
    }
    &-main{
        width: 100%;
        font-weight: bold;
        display: flex;
        padding-bottom: 210px;
        &-text{
            width: 80%;
            h1{
                margin-top: 0;
                padding-left: 25px;
                font-size: 35px;
                text-transform: capitalize;
            }
            ul{
                width: 100%;
                text-align: center;
                margin-top: -50px;
                padding-left: 0;
                display: flex;
                li:first-child{
                    width: 25%;
                    margin-left: 25px;
                }
                li{
                    list-style-type: none;
                    width: 25%;
                    margin-left: 10px;
                    height: 30px;
                    border-radius: 10px;
                }
            }
        }
        & span{
            padding-top: 35px;
            text-align: center;
            display: block;
            width: 20%;
        }
    }

    img{
        width: 281px;
        height: 281px;
        position: absolute;
        top:150px;
        left: 10%;
    }

    &-add{
        margin-top: -10px;
        padding-top: 50px;
        width: 100%;
        background-color: #fff;
        color: black;
        border-radius: 15px;
        ul{
            list-style: none;
            margin:0;
            padding: 0;
            margin-top: 10px;
            width: 80%;
            display: flex;
            li:first-child{
                margin-left: 30px;
            }
            li{
                color: $light-grey-color;
                padding-top: 10px;
                text-align: center;
                width: 30%;
                height: 30px;
            }
            li:hover{
                background-color: rgb(0, 140, 227);
                color: #fff;
                border-radius: 10px;
                transition: 0.5s;
            }
        }
        table{
            width: 80%;
            margin: 0 auto;
        }
        &-detail{
            margin-top: 10px;
            td{
                width: 50%;
            }
        }
    }
}